*{
    font-family: "Roboto Condensed";
}
body, html{
    height: 100vh;
    width: 100vw;
    margin:0;
    overflow: hidden;
    background-color: #000;

}
.content{
    height: 100%;

}
.content-main{
    background:#111;
    max-height:100%;
    width:70%;
    padding:20px 0 0 20px;
    float:left;
    padding: 0;
    animation: animation2 1s cubic-bezier(0.165, 0.84, 0.44, 1);


}

#navigation{
    color:white;
    /* padding:40px; */
    width:100%;
    

}
#navigation ul{
    list-style-type: none;
    display:flex;
    margin:40px;
}
#navigation ul li{
    padding: 20px;
}
.content-right {
    
    float:right;
    width:30%;
    background-size: cover;
}

.content-right img{
    
    max-height:100vh;
    /* height:0vh; */
    width:100vw;
    background-size:124%;
    background: url(./imgs/black-and-white-blur-close-up-411011\ .jpg) no-repeat 50% 50%;
    margin:0;
    animation: animation1 1s cubic-bezier(0.165, 0.84, 0.44, 1);


}
@keyframes animation1{
    from{
        max-height: 0vh;
        opacity:0;

        background-size:124%;
    }
    to{
        opacity:1;

        max-height: 100vh;
        background-size:300%;
        z-index:9999;

    }
}
@keyframes animation2{
    from{
        opacity:0;

        max-height: 0vh;
        background-size:124%;
    }
    to{
         opacity:1;

        max-height: 100vh;
        background-size:300%;
        z-index:9999;

    }
}
.right{
    margin-left: 800px;
    order: 2;
    /* float:right; */
}

.cover{
    max-height:100vh;
    width:100vw;
   
    animation: animation4 18s cubic-bezier(0.165, 0.84, 0.44, 1);
    

    
}
.cover h1{
    position: absolute;
    top: 45%;
    left:40%;
    color:white;
    animation: animation3 7s cubic-bezier(0.165, 0.84, 0.44, 1);

    /* font: 24px; */

    /* text-align:center; */
}
@keyframes animation3{
    0%{
        color:black;
    }
   
    100%{
        color:white;

    }
}

@keyframes animation4{
    0%{
        max-height:100vh;
    }
    100%{
        max-height:0vh;
    }
}

hr{
    max-width:30%;
    animation:hr-anim 2s both;
    animation-delay: 1s;
}
a{
    text-decoration: none;
    color:white;
    animation:hr-anim 2s both;
    animation-delay: 1s;

}
@keyframes hr-anim{
    0%{
        max-width:0%;
        color:#111;
    }
    100%{
        max-width:30%;
        color:white;
    }
}
